@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    *{
         font-family: "Ubuntu", sans-serif;
         padding: 0;
         margin: 0;
    }
    a{
        text-decoration: none;
        color: white;
    }
    body{
        background-image: linear-gradient(to right, #01022d, #000);
        height: 100vh;
        display:flex ;
        justify-content: center;
        align-items: center; 
    }    
    .HK{
       background-image:
       linear-gradient(to right, #01022d 30%, #0000004d),
      url(download.webp);
        background-position: center;
         width:90%; 
         height: 640px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
    }
    
.HK:hover{
        background-image:
       linear-gradient(to right, #01022de3 30%,Transparent),
      url(download.webp);
        background-size: cover;
        background-position: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform:uppercase;
}

ul{
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color:  white;
}

.mk{
    color: white;
    width: 50%;
    margin-top:50px ;
    padding: 30px;
}

.mk h1{
    font-size: 50px;
   text-transform: uppercase;
}
.mk p{
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0;
}

.mk .btn{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 2px solid transparent;
    cursor: pointer;
}

.mk .btn:hover{
    background-color: transparent;
    color: white;
    border-color: white;
}